// Colors
$black: #000000;
$dark-dark-grey: #232323;
$dark-grey: #3f3f3f;
$medium-grey: #727272;
$light-grey: #b8b8b8;
$text-color: #d9d9d9;
$white: #ffffff;

// Font families
$metro-sans: 'Metro Sans', Arial, sans-serif;
$the-future: 'The Future', Arial, sans-serif;
$neue-haas-grotesk: 'neue-haas-grotesk-display', Arial, sans-serif;

// Font weights
$extra-light: 200;
$light: 400;

/**
* Font sizes
*/

/* Default */
$desktop-default-text: 2rem;
$mobile-default-text: 1.6rem;

/* Desktop */
$desktop-h1: 5.2rem;
$desktop-h2: 5.2rem;
$desktop-h4: 4rem;
$desktop-h4-u: 2.6rem;
$desktop-list: 2.6rem;
$desktop-player: 1.2rem;
$desktop-list-u: 2.6rem;

/* Desktop Text */
$desktop-text-description: 2rem;
$desktop-text-read: 2.4rem;

/* Desktop Filters */
$desktop-filters-main: 1.8rem;
$desktop-filters-active: 1.8rem;

///////////////////////// 

/* Tablet */
$tablet-h1: 4.8rem;
$tablet-h2: 4.8rem;
$tablet-h4: 3.6rem;
$tablet-h4-u: 2rem;
$tablet-list: 2rem;
$tablet-player: 1.2rem;
$tablet-list-u: 2rem;

/* Tablet Text */
$tablet-text-description: 1.8rem;
$tablet-text-read: 2.4rem;

/* Tablet Filters */
$tablet-filters-main: 1.6rem;
$tablet-filters-active: 1.6rem;

////////////////////////

/* Mobile */
$mobile-h1: 3.6rem;
$mobile-h2: 3.6rem;
$mobile-h4: 2.6rem;
$mobile-list: 1.6rem;
$mobile-player: 1rem;

/* Mobile Text */
$mobile-text-description: 1.6rem;
$mobile-text-description-active: 1.6rem;
$mobile-text-read: 2.4rem;
$mobile-text-read-u: 2rem;

/* Mobile Filters */
$mobile-filters-main: 1.6rem;
$mobile-filters-active: 1.6rem;

/**
* Line heights
*/