// Colors
$black: #000000;
$dark-dark-grey: #232323;
$dark-grey: #3f3f3f;
$medium-grey: #727272;
$light-grey: #b8b8b8;
$text-color: #d9d9d9;
$white: #ffffff;

// Font families
$metro-sans: 'Metro Sans', Arial, sans-serif;
$the-future: 'The Future', Arial, sans-serif;

// Font weights
$extra-light: 200;
$light: 300;

// Font sizes
$main-text-size: 5.2rem;
$secondary-text-size: 4rem;
$list-text-size: 2.6rem;
$paragraph-text-size: 2.4rem;
$default-text-size: 2rem;

// $tablet-main-text-size: 4.8rem;
// $tablet-secondary-text-size: 3.6rem;
// $tablet-list-text-size: 2.4rem;
// $tablet-paragraph-text-size: 2.2rem;
// $tablet-default-text-size: 1.8rem;

$mobile-main-text-size: 3.6rem;
$mobile-secondary-text-size: 2.6rem;
$mobile-list-text-size: 1.6rem;
$mobile-paragraph-text-size: 1.6rem;
$mobile-default-text-size: 1.6rem;

// Line heights
$main-text-lh: 1;
$secondary-text-lh: 1;