@import './../resources/mixins';
@import './../resources/variables';

body {
  font-size: $desktop-default-text;
  font-family: $the-future;
  font-feature-settings: 'ss02', 'ss06', 'ss07', 'ss08', 'ss09', 'ss11', 'ss12';
  background-color: $black;
  color: $white;
  overflow-x: hidden;

  @include viewport-480 {
    font-size: $mobile-default-text;
  }
}

::selection {
  background-color: $white;
  color: $black;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: $black;
}

::-webkit-scrollbar-thumb {
  background: $dark-grey;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-dark-grey;
}
